
.borderpane {
    -fx-pref-width: 800;
    -fx-pref-height: 600;
}

.vbox {
    -fx-alignment: top-center;
    -fx-pref-width: 500;
    -fx-pref-height: 300;
    -fx-spacing: 10;
}

.button {
    -fx-pref-width: 300;
    -fx-pref-height: 55;
    -fx-border-radius: 3;
    -fx-font-size: 16;
}

.label1 {
    -fx-font-size: 50;
    -fx-background-radius: 3;
    -fx-alignment: center;
}
.label2 {
    -fx-font-size: 20;
    -fx-alignment: center;
    -fx-text-fill: white;
}

.font {
    -fx-font-family: Verdana;
    -fx-font-weight: bold;
}