
.font {
    -fx-font-family: "Lucida Calligraphy";
    -fx-font-size: 20;
}

.font2 {
    -fx-font-family: "Lucida Calligraphy";
    -fx-font-size: 28;
}

.font3 {
    -fx-font-family: "Lucida Calligraphy";
    -fx-font-size: 36;
}