
.borderpane {
    -fx-background-image: url("backdrops/certificate.png");
}

.font {
    -fx-font-family: "Lucida Calligraphy";
    -fx-font-size: 20;
    -fx-opacity: 1;
}

.font2 {
    -fx-font-family: "Lucida Calligraphy";
    -fx-font-size: 28;
}

.font3 {
    -fx-font-family: "Lucida Calligraphy";
    -fx-font-size: 36;
}