
.borderpane {
    -fx-background-image: url("backdrops/home.png");
}

.level1 {
    -fx-background-image: url("images/deloroLevel1.png");
}
.level2 {
    -fx-background-image: url("images/deloroLevel2.png");
}
.level3 {
    -fx-background-image: url("images/deloroLevel3.png");
}
.level4 {
    -fx-background-image: url("images/deloroLevel4.png");
}
.level5 {
    -fx-background-image: url("images/deloroLevel5.png");
}
.level6{
    -fx-background-image: url("images/deloroLevel6.png");
}
