
/* Pane and Vbox control */
.borderpane {
    -fx-pref-width: 800;
    -fx-pref-height: 600;
    -fx-background-color: white;
}

.vbox {
    -fx-alignment: top-center;
    -fx-pref-width: 500;
    -fx-pref-height: 300;
    -fx-spacing: 10;
}

.button {
    -fx-pref-width: 300;
    -fx-pref-height: 60;
    -fx-border-radius: 3;
    -fx-background-color: blue;
    -fx-font-family: Verdana;
    -fx-font-weight: bold;
    -fx-font-size: 24;
    -fx-text-fill: white;
}

.label {
    -fx-font-family: Verdana;
    -fx-font-weight: bold;
    -fx-font-size: 50;
    -fx-text-fill: blue;
}

.stage1 {
    -fx-background-image: url("images/deloro1.PNG");
}
.stage2 {
    -fx-background-image: url("images/deloro2.PNG");
}
.stage3 {
    -fx-background-image: url("images/deloro3.PNG");
}
.stage4 {
    -fx-background-image: url("images/deloro4.PNG");
}