
.stage1 {
    -fx-background-image: url("images/deloro1.PNG");
}
.stage2 {
    -fx-background-image: url("images/deloro2.PNG");
}
.stage3 {
    -fx-background-image: url("images/deloro3.PNG");
}
.stage4 {
    -fx-background-image: url("images/deloro4.PNG");
}