
/* Pane and Vbox control */
.borderpane {
    -fx-pref-width: 800;
    -fx-pref-height: 600;
    -fx-background-color: lightgoldenrodyellow;
}

.vbox {
    -fx-alignment: top-center;
    -fx-pref-width: 500;
    -fx-pref-height: 300;
    -fx-spacing: 10;
}

/* Component control */
.mfx-text-field {
    -fx-pref-width: 300;
    -fx-pref-height: 50;
    -fx-background-radius: 3;
    -fx-background-color: white;
    -fx-border-width: 3;
    -fx-border-radius: 3;
    -fx-border-color: lightgrey;
    -fx-font-family: Verdana;
    -fx-font-size: 16;
    -mfx-text-limit: 3;
}
.mfx-text-field:focus-within {
    -fx-border-width: 3;
    -fx-border-radius: 3;
    -fx-border-color: orange;
}

.button {
    -fx-pref-width: 300;
    -fx-pref-height: 45;
    -fx-border-radius: 3;
    -fx-background-color: orange;
    -fx-font-family: Verdana;
    -fx-font-weight: bold;
    -fx-font-size: 16;
    -fx-text-fill: white;

}

.label {
    -fx-padding: 50;
    -fx-font-family: Verdana;
    -fx-font-weight: bold;
    -fx-font-size: 50;
    -fx-text-fill: orange;
}